<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Create EON</div>
          <div class="panel-body" class="thumbnail"><a href="#/eonEdit">Image place holder<img></img></a></div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">View EON</div>
          <div class="panel-body"  class="thumbnail"><a href="#/eonRead">Image place holder<img></img></a></div>
        </div>
      </div>

    </div>
  </div>
